@model api.Models.CUSTOMER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_hashed_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_hashed_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_line_one)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_line_one)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_line_two)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_line_two)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
